.credits-content{
    margin-left: 20px;
}
.credits-content h2{
    font-size: 1.5em;
align-items: center;
justify-content: center;
}
.credits-content p{
    font-size: 1.2em;
    text-align: justify;
    margin-right: 20px;
}

.credits-content a{
    color: #ec112e;
    text-decoration: none;

}


