.content{
    margin-left: 20px;
}
.content h2{
    font-size: 1.5em;
align-items: center;
justify-content: center;
}
.content p{
    font-size: 1.2em;
    text-align: justify;
    margin-right: 20px;
}
.content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
.content a{
    color: #ec112e;
    text-decoration: none;
}